.card {
    display: flex;
    width: 100%;
}

.imageSection {
    margin-left: 20px;
}

.recommendedPosts {
    display: flex;
}

.section {
    border-radius: 20px;
    margin: 10px;
    flex: 1;
}


.media {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 400px;
    max-width: 712px
}

.commentsOuterContainer {
    display: flex;
    justify-content: space-between;
}

.commentsInnerContainer {
    height: 200px;
    width: 500px;
    overflow-y: auto;
    margin-right: 30px
}

@media (max-width:900px) {
    .card {
        flex-wrap: wrap;
        flex-direction: column
    }

    .section {
        width: 95%
    }

    .imageSection {
        margin-left: 0
    }
    .recommendedPosts {
        flex-direction: column
    }
}

@media (max-width: 600px) {
    .commentsOuterContainer {
        flex-direction: column;
    }
}