.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}