img {
    height: 70px;
}

.brandContainer {
    cursor: pointer
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 400px
}

@media screen and (max-width: 750px) {
    img {
        height: 50px;
    }
}

@media screen and (max-width: 460px) {
    img {
        height: 30px;
    }

    .brandContainer {
        margin-left: -20px;
    }
}

@media screen and (max-width: 380px) {
    img {
        height: 20px;
    }
}

@media screen and (max-width: 900px) {
    .profile {
        width: 80%;
    }
}